﻿@model Web.Models.IngatlanListViewModel

@{
    ViewData["Title"] = "IngatlanIndex";
}

<h2>Ingatlan Főoldal</h2>

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("IngatlansEdit", Model.EditedIngatlan)

@await Html.PartialAsync("IngatlansList", Model.GetIngatlans)