﻿@model Web.Models.Ingatlan

@{
    ViewData["Title"] = "IngatlansDetails";
}

<h2>Ingatlan adatok</h2>

@Html.ActionLink("Back to the list", "Index");

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Type)</td>
        <td>@Html.DisplayFor(m => m.Type)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.SqrMeter)</td>
        <td>@Html.DisplayFor(m => m.SqrMeter)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.RentFee)</td>
        <td>@Html.DisplayFor(m => m.RentFee)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.District)</td>
        <td>@Html.DisplayFor(m => m.District)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.IsFurnished)</td>
        <td>@Html.DisplayFor(m => m.IsFurnished)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Manager)</td>
        <td>@Html.DisplayFor(m => m.Manager)</td>
    </tr>
</table>