﻿@model IEnumerable<Web.Models.Ingatlan>

<h2>Ingatlanok Listája</h2>

@if (Model.Count() == 0)
{
    <p>Nincs ingatlan az adatbázisban.</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Type)</th>
            <th>@Html.DisplayNameFor(m => m.First().RentFee)</th>
            <th>Adatlap</th>
            <th>Törlés</th>
            <th>Módosítás</th>
        </tr>
        @foreach (var ingatlan in Model)
        {
    <tr>
        <td>@Html.DisplayFor(m => ingatlan.Type)</td>
        <td>@Html.DisplayFor(m => ingatlan.RentFee)</td>
        <td>@Html.ActionLink("[SHOW]", "Details", new { id = ingatlan.Id })</td>
        <td>@Html.ActionLink("[DEL]", "Remove", new { id = ingatlan.Id })</td>
        <td>@Html.ActionLink("[EDIT]", "Edit", new { id = ingatlan.Id })</td>
    </tr>
        }
        </table>
}