﻿@model Web.Models.Ingatlan

<h2>Ingatlan módosító</h2>

@using (Html.BeginForm("Edit", "Ingatlans"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Manager)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Manager)</div>

    <div class="editor-label">@Html.LabelFor(m => m.RentFee)</div>
    <div class="editor-field">@Html.EditorFor(m => m.RentFee)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Type)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Type)</div>
    
    <div class="editor-label">@Html.LabelFor(m => m.District)</div>
    <div class="editor-field">@Html.EditorFor(m => m.District)</div>
    
    <div class="editor-label">@Html.LabelFor(m => m.SqrMeter)</div>
    <div class="editor-field">@Html.EditorFor(m => m.SqrMeter)</div>
    
    <input type="submit" value="SEND" />
}